<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HR dashboard</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <!--<title> Online onboarding </title>
    <meta property="og:title" content="Landing page test - Onboarding">
    <meta name="author" content="Beni Arisandi">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Onboarding landing page for dev-test">
    <meta property="og:description" content="Onboarding landing page for dev-test">
    <link rel="canonical" href="https://uselooper.com">
    <meta property="og:url" content="https://uselooper.com">
    <meta property="og:site_name" content="Onboarding: landing page test">
    <meta name="theme-color" content="#3063A0">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
    <link type="text/css" href="../src/static/looper/vendor/aos/aos.css">
    <link type="text/css" href="../src/static/looper/stylesheets/theme.min.css" data-skin="default">
    <link type="text/css" href="../src/static/looper/stylesheets/theme-dark.min.css" data-skin="dark">
    <link type="text/css" href="../src/static/looper/stylesheets/custom.css">
    <script>
        var skin = localStorage.getItem('skin') || 'default';
        var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
        var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
        // Disable unused skin immediately
        disabledSkinStylesheet.setAttribute('rel', '');
        disabledSkinStylesheet.setAttribute('disabled', true);
        // add flag class to html immediately
        if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
    </script>-->
</head>
    <body>
        <div id="root">
        </div>
	<script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
