<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logowanie | Onboarding</title>
    <meta property="og:title" content="Sign In">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Onboarding sign-in page">
    <meta property="og:description" content="Sign-in page into OnlineOnboarding">
    <meta property="og:site_name" content="Onboarding: sign-in">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta name="theme-color" content="#3063A0"><!-- Google font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">< ! - - End Google font -->
    <!-- BEGIN PLUGINS STYLES -->
    <link rel="stylesheet" href="{% static 'bootstrap/vendor/fontawesome/css/all.css' %}"><!-- END PLUGINS STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="{% static 'bootstrap/stylesheets/theme.min.css' %}" data-skin="default">
    <link rel="stylesheet" href="{% static 'bootstrap/stylesheets/theme-dark.min.css' %}" data-skin="dark">
    <link rel="stylesheet" href="{% static 'bootstrap/stylesheets/custom.css' %}">
    <script>
      var skin = localStorage.getItem('skin') || 'default';
      var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
      var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
      // Disable unused skin immediately
      disabledSkinStylesheet.setAttribute('rel', '');
      disabledSkinStylesheet.setAttribute('disabled', true);
      // add flag class to html immediately
      if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
    </script><!-- END THEME STYLES -->
  </head>
  <body>
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
    <![endif]-->
    <main class="auth">
      <header id="auth-header" class="auth-header" style="background-image: url({% static 'bootstrap/images/illustration/img-1.png' %});">
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="64" viewbox="0 0 351 100">
            <defs>
            </defs>
            <g fill="none" fill-rule="evenodd">
              <use class="fill-warning" xlink:href="#a"></use>
            </g>
          </svg> <span class="sr-only">Zaloguj się</span>
        </h1>
        <p>Nie masz konta? <a href="{% url 'signup' %}?next={{ next }}">Zarejestruj się</a>
        <!-- <p> Don't have a account? <a href="{% url 'signup' %}?next={{ next }}">Create One</a> -->
        </p>
      </header>
      <form class="auth-form" method="POST" action="{% url 'login' %}">
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="{{ form.username.id_for_label }}" class="form-control"
                   placeholder="Email:" name="{{ form.username.html_name }}" autofocus="" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} />
            <label for="{{ form.username.id_for_label }}">Email:</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="{{ form.password.id_for_label }}" class="form-control" name="{{ form.password.html_name }}" placeholder="Hasło:" />
            <label for="{{ form.password.id_for_label }}">Hasło:</label>
          </div>
        </div>
        {% if form.errors %}
        <div class="form-group">
          <div class="form-label-group">
            Hasło lub login sa nieprawidłowe.{# {{ form.errors }} #}
          </div>
        </div>
        {% endif %}
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
        </div>
        <!-- 
        <div class="form-group text-center">
          <div class="custom-control custom-control-inline custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="remember-me"> <label class="custom-control-label" for="remember-me">Keep me sign in</label>
          </div>
        </div>
        -->
        <div class="text-center pt-3">
          {% if form.errors %}
            W celu przypomnienia hasła kliknij:<br />
          {% endif %}
          <!-- <a href="auth-recovery-username.html" class="link">Forgot Username?</a> <span class="mx-2">·</span>  -->
          <a href="{% url 'password_reset' %}" class="link">Zapomniałeś hasła?<!--Forgot Password?--></a>
        </div>
        {% csrf_token %}
        {% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
      </form>
      <!-- copyright -->
      <footer class="auth-footer"> &copy; {% now "Y" %} All Rights Reserved. <!-- <a href="#">Privacy</a> and <a href="#">Terms</a> -->
      </footer>
    </main>
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/particles.js/particles.min.js' %}"></script>
    <script>
      /**
       * Keep in mind that your scripts may not always be executed after the theme is completely ready,
       * you might need to observe the `theme:load` event to make sure your scripts are executed after the theme is ready.
       */
      $(document).on('theme:init', () =>
      {
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('auth-header', "{% static 'bootstrap/javascript/pages/particles.json' %}");
      })
    </script>
    <script src="{% static 'bootstrap/javascript/theme.js' %}"></script>
  </body>
</html>
