<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- End Required meta tags -->
    <!-- Begin SEO tag -->
    <title>Reset hasła | Onboarding</title>
    <meta property="og:title" content="Password reset">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Onboarding password reset page">
    <meta property="og:description" content="Password reset page - OnlineOnboarding">
    <meta property="og:site_name" content="Onboarding: password reset">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta name="theme-color" content="#3063A0"><!-- Google font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">< ! - - End Google font -->
    <!-- BEGIN PLUGINS STYLES -->
    <link rel="stylesheet" href="{% static 'bootstrap/vendor/fontawesome/css/all.css' %}"><!-- END PLUGINS STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="{% static 'bootstrap/stylesheets/theme.min.css' %}" data-skin="default">
    <link rel="stylesheet" href="{% static 'bootstrap/stylesheets/theme-dark.min.css' %}" data-skin="dark">
    <link rel="stylesheet" href="{% static 'bootstrap/stylesheets/custom.css' %}">
    <script>
      var skin = localStorage.getItem('skin') || 'default';
      var isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
      var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
      // Disable unused skin immediately
      disabledSkinStylesheet.setAttribute('rel', '');
      disabledSkinStylesheet.setAttribute('disabled', true);
      // add flag class to html immediately
      if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
    </script><!-- END THEME STYLES -->
  </head>
  <body>
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
    <![endif]-->
    <!-- .auth -->
    <main class="auth">
      <header id="auth-header" class="auth-header" style="background-image: url({% static 'bootstrap/images/illustration/img-1.png' %});">
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="64" viewbox="0 0 351 100">
            <defs>
            </defs>
            <g fill="none" fill-rule="evenodd">
              <use class="fill-warning" xlink:href="#a"></use>
            </g>
          </svg> <span class="sr-only">{% if validlink %} Please enter (and confirm) your new password. {% else %} Password reset failed {% endif %}</span>
        </h1>
        <p>{% if validlink %} Wprowadź (i potwierdź) nowe hasło. {% else %} Resetowanie hasła nie powiodło się {% endif %}</p>
        <!-- <p>{% if validlink %} Please enter (and confirm) your new password. {% else %} Password reset failed {% endif %}</p> -->
      </header><!-- form -->
    {% if validlink %}
      <form class="auth-form" action="" method="post">
		<!-- .form-group -->
		<div class="form-group">
		  <div class="form-label-group">
			  <input type="password" id="{{ form.new_password1.id_for_label }}" class="form-control" placeholder="Nowe hasło:" name="{{ form.new_password1.html_name }}" {% if form.new_password1.value != None %}value="{{ form.new_password1.value|stringformat:'s' }}"{% endif %}
					autofocus="" {% if form.new_password1.field.required %}required{% endif %} />
			<label for="{{ form.new_password1.id_for_label }}">Nowe hasło:</label>

			{% if form.new_password1.errors %}<p style="color: red">{{ form.new_password1.errors }}</p>{% endif %}
      </div>
		</div><!-- /.form-group -->
		<!-- .form-group -->
		<div class="form-group">
		  <div class="form-label-group">
			  <input type="password" id="{{ form.new_password2.id_for_label }}" class="form-control" placeholder="Potwierdź hasło:" name="{{ form.new_password2.html_name }}" {% if form.new_password2.value != None %}value="{{ form.new_password2.value|stringformat:'s' }}"{% endif %}
					autofocus="" {% if form.new_password2.field.required %}required{% endif %} />
  			<label for="{{ form.new_password2.id_for_label }}">Potwierdź hasło:<!--Confirm password:--></label>
        
        {% if form.new_password2.errors %}<p style="color: red">{{ form.new_password2.errors }}</p>{% endif %}
      </div>
		</div><!-- /.form-group -->
		<!-- .form-group -->
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Zmień hasło</button>
		</div><!-- /.form-group -->
		{% csrf_token %}
{# <table><tr><td>{{ form.new_password1.errors }}<label for="id_new_password1">Nowe hasło:</label></td><td>{{ form.new_password1 }}</td></tr> #}
{# <tr><td>{{ form.new_password2.errors }}<label for="id_new_password2">Potwierdź hasło:</label></td><td>{{ form.new_password2 }}</td></tr> #}
{# <tr><td></td><td><input type="submit" value="Zmień hasło" /></td></tr></table> #}
      </form>
    {% else %}
      <div class="auth-form">
        <h1>Resetowanie hasła nie powiodło się</h1>
        <p style="color: red">Link do resetowania hasła jest nieprawidłowy, prawdopodobnie dlatego, że został już użyty. Poproś o nowe zresetowanie hasła.</p>
        <!-- <h1>Password reset failed</h1>
        <p style="color: red">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p> -->
      </div>
    {% endif %}
      <!-- copyright -->
      <footer class="auth-footer"> &copy; {% now "Y" %} All Rights Reserved. <a href="#">Privacy</a> and <a href="#">Terms</a>
      </footer>
    </main><!-- /.auth -->
    <script src="{% static 'bootstrap/javascript/theme.js' %}"></script> <!-- END THEME JS -->
  </body>
</html>
