<!DOCTYPE html>
<html lang="pl">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Registration confirmed | Onboarding</title>
    <meta property="og:title" content="Registration confirmed" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Onboarding registration confirmed page" />
    <meta
      property="og:description"
      content="Registration confirmed page - OnlineOnboarding"
    />
    <meta property="og:site_name" content="Onboarding: registration confirmed" />
    <meta name="theme-color" content="#3063A0" />
    <!-- Google font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">< ! - - End Google font -->
    <!-- BEGIN PLUGINS STYLES -->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/vendor/fontawesome/css/all.css' %}"
    />
    <!-- END PLUGINS STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/stylesheets/theme.min.css' %}"
      data-skin="default"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/stylesheets/theme-dark.min.css' %}"
      data-skin="dark"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/stylesheets/custom.css' %}"
    />
    <script>
      var skin = localStorage.getItem("skin") || "default";
      var isCompact = JSON.parse(localStorage.getItem("hasCompactMenu"));
      var disabledSkinStylesheet = document.querySelector(
        'link[data-skin]:not([data-skin="' + skin + '"])'
      );
      // Disable unused skin immediately
      disabledSkinStylesheet.setAttribute("rel", "");
      disabledSkinStylesheet.setAttribute("disabled", true);
      // add flag class to html immediately
      if (isCompact == true)
        document.querySelector("html").classList.add("preparing-compact-menu");
    </script>
    <!-- END THEME STYLES -->
  </head>
  <body>
    <main class="w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="card w-auto text-center m-0 bg-white text-secondary container-sm">
        <div class="card-body h6 font-weight-normal">
          {% if validlink %}
          <p>
            Dziękujemy za potwierdzenie e-maila.
            <!-- Thank you for your email confirmation. Now you can login your account. -->
          </p>
          <p class="m-0">
            Teraz możesz <a href="{% url 'login' %}?next=/manage/">zalogować się</a> na swoje konto.
          </p>
          {% else %}
          <p>
            Link aktywacyjny jest nieprawidłowy!
            <!-- Activation link is invalid! -->
          </p>
          {% endif %}
        </div>
      </div>
    </main>
    <script src="{% static 'bootstrap/javascript/theme.js' %}"></script>
  </body>
</html>
