{% extends "index.html" %}

{% block content %}

    <div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ add_package_form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
    <h1>Your packages</h1>

    {% if package_list_by_user %}
    <table>
        <td>
            title
        </td>
        <td>
            description
        </td>
        {% for package in package_list_by_user %}
            <tr>
                <td>
                    <a>{{ package.title }}</a>
                </td>
                <td>
                    {{ package.description }}
                </td>
            </tr>
      {% endfor %}
    </table>

    {% else %}
        <p>You haven't created any package yet.</p>
    {% endif %}
    </div>

{% endblock %}