<header class="main__header">
    <p class="main__paragraph">Rejestracja w Online Onboarding</p>
</header>
<div class="main__message">
    <p class="main__paragraph">
      Witaj 
        {% if user.first_name is defined and user.first_name|length %}
            {{ user.first_name }}{% else %}{{ user.username }}
        {% endif %},
    </p>
    <p class="main__paragraph">
        Otrzymujesz tę wiadomość, ponieważ Twój e-mail został użyty do zarejestrowania użytkownika
        {% if user.first_name and user.first_name|length %}
            {{ user.first_name }} ({{ user.email }})
        {% else %}
            {{ user.email }}
        {% endif %}
        w aplikacji Online Onboarding.
        Jeżeli e-mail został wykorzystany bez twojej wiedzy, proszę go zignorować.
    </p>
    <p class="main__paragraph"><b>Aktywacja konta</b></p>
    <p class="main__paragraph">
        Żeby aktywować konto wystarczy kliknąć link aktywacyjny znajdujący się ponizej.
    </p>
</div>
<footer class="main__footer">
    <p class="main__paragraph">Link:</p>
    <p class="main__paragraph main__paragraph--bigger">
      <strong>
        {% autoescape off %}
            <a class="main__link" href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">
                {{ domain }}{% url 'activate' uidb64=uid token=token %}
            </a>
        {% endautoescape %}
      </strong>
    </p>
</footer>
