{% extends "templated_email/main_email_template.html" %}
{% block content %}
<div class="main__message">
  <p class="main__paragraph">Dzień dobry {% if user.first_name is defined and user.first_name|length %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</p>
  <p class="main__paragraph">
    Otrzymujesz tę wiadomość, ponieważ zostało utworzone Twoje konto
    na profilu firmy {{ company }} i jesteś zaproszony(a) do udziału w procesie  onboardingu.
  </p>
  <p class="main__paragraph"><b>Aktywacja konta</b></p>
  <p class="main__paragraph">
    Aby kontynuować i aktywować konto wystarczy kliknąć w link aktywacyjny
    znajdujący się poniżej.
  </p>
</div>
<footer class="main__footer">
    <!-- <p class="main__paragraph"><i>Zmień je zaraz po pierwszym logowaniu</i></p> -->
    <p class="main__paragraph">Link:</p>
    <p class="main__paragraph main__paragraph--bigger">
      <strong>{% autoescape off %}
        <a href="https://{{ domain }}{% url 'activate' uidb64=uid token=token %}">
            {{ domain }}{% url 'activate' uidb64=uid token=token %}
        </a>
      {% endautoescape %}</strong>
    </p>
</footer>
{% endblock %}
