{% extends "templated_email/main_email_template.html" %}
{% block content %}
<header class="main__header">
    <p class="main__paragraph">Prośba o ponowne wypełnienie</p>
</header>
<div class="main__message">
  <p class="main__paragraph">
    Drogi/-a {% if user.first_name and user.first_name|length %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %},
  </p>
  <p class="main__paragraph">
    Otrzymała/em Twoje odpowiedzi{% if title and title|length %}na "{{ title }}"{% endif %}.
    Jednakże niektóre z nich są nieprawidłowe. Proszę Ciebie o zajrzenie do materiałów jeszcze raz
    i ponowne wypełnienie formularza{% if title and title|length %} "{{ title }}"{% endif %}.

    Pozdrawiam
  </p>
</div>
<footer class="main__footer">
  <p class="main__paragraph">
    <small>
      Mail wysłany za poleceniem przypomnienia lub ponownej prośby o wypełnienie formularza.<br />
      Prosimy nie odpowiadać, a wszystkie pytania kierować do osoby odpowiedzialnej za program wdrożeniowy w firmie.
    </small>
  </p>
</footer>
{% endblock %}
