{% extends "templated_email/main_email_template.html" %}
{% block content %}
<header class="main__header">
  <p class="main__paragraph">Przypomnienie</p>
</header>
<div class="main__message">
  <p class="main__paragraph">
    Dzień dobry {% if user.first_name and user.first_name|length %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %},
  </p>
  <p class="main__paragraph">
    {% if is_page %} Otrzymujesz tę wiadomość, ponieważ najwyraźniej masz jeszcze do zrobienia wdrożenie: "{{ package.title }}".
    {% else %} Otrzymujesz tę wiadomość, ponieważ najwyraźniej masz jeszcze do zrobienia jedno lub kilka wdrożeń w "{{ package.title }}".{% endif %}
  </p>
</div>
<footer class="main__footer">
{#  <p class="main__paragraph main__paragraph--bigger">  </p>#}
  <p class="main__paragraph">
    <small>
      Mail wysłany automatycznie. Prosimy na niego nie odpowiadać, a wszelkie pytania kierować
      do osoby odpowiedzialnej za program wdrożeniowy w firmie.
    </small>
  </p>
</footer>
{% endblock %}
