{% extends "templated_email/main_email_template.html" %}
{% block content %}
<header class="main__header">
  <p class="main__paragraph">Przypomnienie</p>
</header>
<div class="main__message">
  <p class="main__paragraph">
    Dzień dobry {% if user.first_name and user.first_name|length %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %},
  </p>
  <p class="main__paragraph">
    Otrzymujesz tę wiadomość, ponieważ najwyraźniej masz jeszcze do zrobienia jedno lub kilka wdrożeń. "{{ package.title }}".
    Aby zapoznać się jakie to są wdrożenia, kliknij link:
  </p>
</div>
<footer class="main__footer">
  <p class="main__paragraph main__paragraph--bigger">
    <strong>
      {% autoescape off %}
        <a href="http://{{ domain }}{% url 'reminder' employee_id=user.id package_id=package.id %}">
          {{ domain }}{% url 'reminder' employee_id=user.id package_id=package.id %}
        </a>
      {% endautoescape %}
    </strong>
  </p>
  <p class="main__paragraph">
    <small>
      Mail wysłany automatycznie. Prosimy na niego nie odpowiadać, a wszelkie pytania kierować
      do osoby odpowiedzialnej za program wdrożeniowy w firmie.
    </small>
  </p>
</footer>
{% endblock %}
