<html lang="pl-PL">
<head>
   <meta charset="UTF-8">

    <body style=" size: A5;">
        <div style="background-color: #0d5bdd; text-align: center; padding-top: 20px;
        padding-bottom: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px">
            <h1 style="color: #343a40">
                Przydzielono Ci nowy formularz
            </h1>
        </div>


        <div style="background-color: #1aa3e8; padding-top: 10px; padding-bottom: 10px">
            <div style="margin-left: 20px">
                <h2>Witaj {% if user.first_name and user.first_name|length %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %},</h2>
            </div>
            <div style="margin-left: 20px; margin-right: 20px">

                <p>
                    Przydzielono Ci nowy formularz wdrożeniowy. Zaloguj się aby zobaczyć zmiany.
                </p>

            </div>
        </div>

        <div style="background-color: #0d5bdd; color: #161b1c; border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px">
            <div style="margin-left: 20px; padding-top: 15px">
                Kontakt:
            </div>
            <div style="margin-left: 20px">
                Email: kontakt<span>@onlineonboarding</span>.net
            </div>
            <div style="margin-left: 20px; padding-bottom: 15px">
                Tel: +48 123-456-789
            </div>

        </div>

    </body>

</html>
