<html lang="pl">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="email.css">
</head>
<body>
  <header class="header">
    <img class="header__bar" src="./img/belka_top_logo.jpg" alt="">
    <img class="header__image" src="./img/kadr_600_230_rece.jpg" alt="Logo OnlineOnboarding">
  </header>
  <main class="main">
    <!-- np. {% extends "register_user_by_hr.html" %} -->
  </main>
  <footer class="footer">
    <p class="footer__paragraph">Kontakt:</p>
    <p class="footer__paragraph">kontakt@onlineonboarding.net</p>
    <p class="footer__paragraph">
      <a
        class="footer__link"
        href="https://onlineonboarding.net"
        target="_blank"
        rel="noopener"
      >Onlineonboarding.net
      </a>
    </p>
  </footer>
</body>
</html>