<html lang="pl">
{% load static %}
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/email.css' %}">
</head>
<body>
  <header class="header">
    <img class="header__bar" src="{% static 'images/belka_top_logo.jpg' %}" alt="Logo OnlineOnboarding">
    <img class="header__image" src="{% static 'images/email/' %}{{ image_frame|default:'kadr_600_230_rece.jpg' }}" alt="">
  </header>
  <main class="main">
    {% block content %}{% endblock %}
  </main>
  <footer class="footer">
    <p class="footer__paragraph">Kontakt:</p>
    <p class="footer__paragraph">kontakt@onlineonboarding.net</p>
    <p class="footer__paragraph">
      <a
        class="footer__link"
        href="https://onlineonboarding.net"
        target="_blank"
        rel="noopener"
      >Onlineonboarding.net
      </a>
    </p>
  </footer>
</body>
</html>
