<html lang="pl-PL">
<head>
   <meta charset="UTF-8">

    <body style=" size: A5;">
        <div style="background-color: #0d5bdd; text-align: center; padding-top: 20px;
        padding-bottom: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px">
            <h1 style="color: #343a40">
                Zmiana hasła w Online Onboarding
            </h1>
        </div>


        <div style="background-color: #1aa3e8; padding-top: 10px; padding-bottom: 10px">
            <div style="margin-left: 20px">
                <h2>Hi {{ user.username }},</h2>
            </div>
            <div style="margin-left: 20px; margin-right: 20px">
                <p>
                    Otrzymaliśmy prośbę o zresetowanie hasła do Twojego konta dla tego adresu e-mail. Aby rozpocząć
                    proces resetowania hasła do swojego konta, kliknij link poniżej.
                </p>
                <p>
                    {% autoescape off %}
                      <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
                    {% endautoescape %}
                </p>
                <p>
                    Powyższy link jest jednorazowy aby ponownie zmienić hasło wejdź na stronę

                </p>
                <p>
                    <a href="{{ protocol }}://{{domain}}">{{domain}}</a>
                </p>
            </div>
        </div>

        <div style="background-color: #0d5bdd; color: #161b1c; border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px">
            <div style="margin-left: 20px; padding-top: 15px">
                Jeżeli nie prosiłeś o zmianę hasła powiadom na o tym!
            </div>
            <div style="margin-left: 20px">

            </div>
            <div style="margin-left: 20px; padding-bottom: 15px">

            </div>

        </div>

    </body>

</html>
