{% extends "templated_email/main_email_template.html" %}
{% block content %}
<header class="main__header">
    <p class="main__paragraph">Zmiana hasła w Online Onboarding</p>
</header>
<div class="main__message">
    <p class="main__paragraph">
        Witaj {% if user.first_name is defined and user.first_name|length %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %},
    </p>
    <p class="main__paragraph">
        Otrzymaliśmy prośbę o zresetowanie hasła do Twojego konta dla tego adresu e-mail. Aby rozpocząć
        proces resetowania hasła do swojego konta, kliknij link poniżej.
    </p>
</div>
<footer class="main__footer">
    <p class="main__paragraph main__paragraph--bigger">
      <strong>
        {% autoescape off %}
            <a class="main__link" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                {{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            </a>
        {% endautoescape %}
      </strong>
    </p>
    <p class="main__paragraph">
        <small>
            Powyższy link jest jednorazowy. Aby ponownie zmienić hasło, wejdź na stronę:
        </small>
    </p>
    <p class="main__paragraph">
        <small>
            <a class="main__link" href="{{ protocol }}://{{domain}}">{{domain}}</a>
        </small>
    </p>
    <p class="main__paragraph">
        <small>
            Jeżeli nie prosiłeś o zmianę hasła, powiadom nas o tym.
        </small>
    </p>
</footer>
{% endblock %}
