<html lang="pl-PL">
<head>
   <meta charset="UTF-8">

    <body style=" size: A5;">
        <div style="background-color: #0d5bdd; text-align: center; padding-top: 20px;
        padding-bottom: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px">
            <h1 style="color: #343a40">
                Aktywacja konta w OnboardingOnline
            </h1>
        </div>


        <div style="background-color: #1aa3e8; padding-top: 10px; padding-bottom: 10px">
            <div style="margin-left: 20px">
                <h2>Hi {{ user.username }},</h2>
            </div>
            <div style="margin-left: 20px; margin-right: 20px">
                <p>
                    Aby aktywować konto skożystaj z podanego poniżej linku
                </p>
                <p>
                    {% autoescape off %}
                      <a href="{{ protocol }}://{{ domain }}{% url 'account_activation_for_users_created_by_hr' uidb64=uid token=token %}">{{ domain }}{% url 'account_activation_for_users_created_by_hr' uidb64=uid token=token %}</a>
                    {% endautoescape %}
                </p>
                <p>

                </p>
            </div>
        </div>

        <div style="background-color: #0d5bdd; color: #161b1c; border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px">
            <div style="margin-left: 20px; padding-top: 15px">

            </div>
            <div style="margin-left: 20px">

            </div>
            <div style="margin-left: 20px; padding-bottom: 15px">

            </div>

        </div>

    </body>

</html>
