@import "utilities/mixins.scss";

.App {
  &__button {
    @include button;
    width: 138px;
    &-profile-wrapper {
      position: relative;
    }
  }
  &__buttons-wrapper {
    position: absolute;
    top: 36px;
    right: 79px;
    display: flex;
    column-gap: 19px;
  }
  &__main {
    // LeftMenu width = 363px
    padding-left: 363px!important;
  }
  .hamburger {
    border-radius: 50%;
  }
  .hamburger-wrapper {
      position: fixed;
      top: 11px;
      right: 18px;
      z-index: 10;
      position: fixed;
      background: #310059;
      border-radius: 50%;
      padding: 6px;
  }
  .dropdown {
    width: 82%;
    position: absolute;
    list-style: none;
    left: 50%;
    transform: translate(-50%);
    padding: 32px 0 14px 45px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    background: linear-gradient(180deg, rgba(110, 0, 157, 0) 0%, rgba(110, 0, 157, 1) 100%);
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 10;
    transition: all .3s ease-in-out;
    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      transition: all .3s ease-in-out;
    }
    &__item {
      &:hover {
        font-weight: 600;
      }
      &--profile {
        position: relative;
        &::before {
          content: '';
          width: 18px;
          height: 18px;
          top: -1px;
          left: -29px;
          position: absolute;
          background: no-repeat url('../icons/gg_profile.svg') ;
        }
      }
    }
    &__link {
      display: inline-block;
    }
    &__link:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

@media(max-width: 992px) {
  .App {
    &__main {
      padding-left: 0!important;
    }
  }
}