@import "./utilities/mixins.scss";

.CompanyInfo {
  &__button {
    @include button;
    height: 36px;
    width: 130px;
  }
  &__buttons {
    margin-right: 1rem;
    display: flex;
    column-gap: 28px;
  }
  &__card {
    @include card;
    flex-direction: column;
    margin-bottom: 35px;
  }
  &__card-header {
    font-size: 14px;
    padding-bottom: 7px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 17px;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
  }
  &__header {
    margin: 0;
    font-size: 36px;
    line-height: 34px;
  }
  &__header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 46px;
    margin-bottom: 70px;
  }
  &__input {
    @include input;
    width: 100%;
    margin: 0;
  }
  &__label {
    padding-left: 24px;
    color: #fff;
  }
  &__logo {
    box-sizing: border-box;
    width: 185px;
    height: 185px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  &__name {
    width: 100%;
    position: relative;
  }
  &__name-wrapper {
    width: calc(100% - 231px);
    display: flex;
    justify-content: space-between;
    column-gap: 46px;
  }
  &__text {
    position: absolute;
    white-space: nowrap;
    top: -26px;
    font-weight: 300;
    font-size: 14px;
  }
}

.CompanyInfoPreview {
  &__card {
    padding: 27px 50px!important;
    margin: 70px 0;
  }
  &__frame {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  &__frame-wrapper {
    max-width: 748px;
    max-height: 373px;
    min-height: 243px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 35.25%;
    background: rgba(255, 255, 255, 0.2);
  }
  &__name {
    width: calc(100% - 231px);
  }
}

@media(max-width: 575px) {
  .CompanyInfo {
    &__warning {
      font-size: smaller;
    }
    &__header-wrapper {
      flex-direction: column;
      row-gap: 58px;
    }
    &__input {
      max-width: 300px;
    }
    &__logo {
      margin: 0;
    }
    &__name {
      display: flex;
      justify-content: center;
    }
    &__name-wrapper {
      width: 100%;
      flex-direction: column;
      align-items: center;
      row-gap: 18px;
      text-align: center;
    }
    &__text {
      left: 50%;
      transform: translate(-50%);
    }
  }
}
@media(max-width: 453px) {
  .CompanyInfo {
    &__footer {
      flex-direction: column;
    }
    &__buttons {
      margin-right: 0;
    }
    &__warning {
      margin-top: 1rem;
      text-align: center;
    }
  }
}