@import "utilities/mixins.scss";

@mixin center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EmployeeProfileUser {
  margin-bottom: 40px;
  &__column {
    flex-grow: 1.2;
  }
}
.EmployeeProfileTable {
  margin-bottom: 0;
  &__button {
    @include button;
  }
  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 48px;
  }
  &__checkbox {
    margin: .5rem 0 .5rem .5rem;
  }
  &__data {
    border-top: none!important;
    &--small {
      width: -moz-max-content;
      width: fit-content;
    }
    &--sublist-first {
      border-top: 1px dashed #fff!important;
    }
  }
  &__head {
    font-weight: normal;
    border-bottom: 1px solid #fff!important;
  }
  &__header {
    margin-bottom: 6px;
    margin-left: 22px;
  }
  &__progress {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__progress-bar {
    display: flex;
    align-items: center;
  }
  &__row {
    border-top: 1px solid #fff!important;
    &:hover {
      background: #0f0f29bf!important;
      color: #fff;
    }
    
    &--sublist {
      border-top: none!important;
    }
  }
  &__title {
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    margin-left: 22px;
  }
  &__wrapper {
    @include list-item-card;
    padding: 0;
    position: relative;
    font-size: 12px;
    margin-bottom: 48px;
  }
  .caret-icon {
    width: -moz-max-content;
    width: fit-content;
    margin-right: 0;
  }
}

@media(max-width: 320px) {
  .Employee-Profile {
    &__button--save {
      margin: 0 0 .5rem 0!important;
    }
    &__buttons {
      flex-direction: column;
    }
  }
}