@import "./utilities/mixins.scss";

.app {
  overflow: visible;
  &-main {
      overflow: visible;
  }
}

.FormDescription {
  margin-bottom: 24px;
  &__button {
    @include button;
    max-width: 142px;
    width: 100%;
    padding: 10px 20px;
    height: 32px;
    font-size: 12px;
    font-weight: 300;
  }
  &__input {
    @include input;
    margin: 0;
    margin-bottom: 20px;
  }

  // header
  &__header {
    @include list-item-card;
    margin-bottom: 48px;
  }
  &__text {
    padding-bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 1px dashed #fff;
  }
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    column-gap: 18px;
  }

  // content
  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    margin-left: 91px;
  }
  &__content-box {
    display: flex;
    column-gap: 24px;
  }
  &__label {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
  }
}

.FormsEdit {
  &__column {
    padding-top: 26px;
  }
  &__header {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
  }
  &__thr {
    font-size: smaller;
  }
  &__th {
    font-weight: 400;
    padding: 0;
    padding-bottom: 2px;
    text-align: center;
  }
  &__tr {
    &:hover {
      background: #0f0f29bf!important;
      color: #fff;
    }
    vertical-align: middle!important;
    &--middle {
      vertical-align: middle!important;
      text-align: center;
    }
  }
  &__td {
    vertical-align: middle!important;
    border-top: none!important;
    &--middle {
      vertical-align: middle!important;
      text-align: center;
      width: 104px;
    }
  }
}

.FormAddSection {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  &__body {
    padding: 21px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }
  &__button {
    @include button;
    width: 100%;
    padding: 7px 13px;
    font-weight: 300;
    font-size: 12px;
  }
  &__button--save {
    margin-right: .25rem;
  }
  &__button-add--hide {
    width: 100%;
  }
  &__buttons-box {
    margin-bottom: .5rem;
  }
  &__header {
    padding: 10px 21px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 1px dashed #fff;
  }
  &__plus {
    display: none;
    text-align: center;
    padding: .5rem;
    margin-bottom: 0;
    &-icon {
      font-size: 1.5rem;
      &::before {
        height: -webkit-fit-content;
        height: -moz-max-content;
        height: fit-content;
      }
    }
    &-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  &__wrapper {
    @include list-item-card;
    padding: 0;
  }
}

.FormSection {
  @include card;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  &__button {
    @include button;
  }
  &__button-icon {
    &--bigger {
      height: 21px;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
  }
  &__header {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
    margin-bottom: 24px;
    &--dashed {
      border-bottom: 1px dashed #fff;
    }
  }
  &__input {
    @include input;
    margin: 0;
    margin-bottom: 20px;
  }
  &__line {
    width: 100%;
    border-bottom: 1px dashed #fff;
    margin-top: 0;
  }
}

@media(max-width: 1024px) {
  .FormAddSection {
    &__button {
      margin: 0 0 8px 0!important;
      width: 100%;
    }
    &__buttons-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0;
    }
  }
}

@media(max-width: 810px) {
  .FormsEdit {
    &__sections {
      padding-bottom: 50px;
    }
  }
  .FormAddSection {
    padding-left: 280px!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem;
    width: 100%;
    position: fixed;
    top: auto;
    bottom: 8px;
    left: 0;
    &__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      padding: 0!important;
    }
    &__button {
      width: 45px;
      height: 45px!important;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%!important;
      margin: 0 .8rem 0 0!important;
      &:hover::after {
        border-radius: 50%;
      }
      &--preview {
        background: url('../icons/eye.svg') no-repeat center $button-color;
        &:focus {
          background: url('../icons/eye.svg') no-repeat center $button-color;
        }
        &:hover {
          background: url('../icons/eye.svg') no-repeat center $button-hover-color;
        }
      }
      &--legend {
        background: url('../icons/map.svg') no-repeat center $button-color;
        &:focus {
          background: url('../icons/map.svg') no-repeat center $button-color;
        }
        &:hover {
          background: url('../icons/map.svg') no-repeat center $button-hover-color;
        }
      }
      &--save {
        background: url('../icons/save.svg') no-repeat center $button-color;
        &:focus {
          background: url('../icons/save.svg') no-repeat center $button-color;
        }
        &:hover {
          background: url('../icons/save.svg') no-repeat center $button-hover-color;
        }
      }
      &-content {
        display: none;
      }
    }
    &__button-add {
      margin-bottom: 0;
      margin-right: 0!important;
      width: 40px;
      height: 40px!important;
      border-radius: 50%!important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      opacity: 1;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      &--hide {
        display: none;
      }
    }
    &__buttons-box, &__buttons-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    &__buttons-wrapper {
      margin: 0 .5rem!important;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &__col {
      padding: 0 4px!important;
    }
    &__header {
      display: none;
    }
    &__plus {
      margin: 0 auto!important;
      display: block;
      color: var(--light);
      padding: 0;
      &-button {
        padding: 0;
        background: none;
        border: none;
        outline: none!important;
      }
      &-icon {
        display: flex;
        align-items: center;
        color: #fff;
      }
      &-wrapper {
        padding: 0!important;
      }
    } 
    &__wrapper {
      @include button;
      position: absolute!important;
      z-index: 12;
      right: 0!important;
      width: 52px;
      height: 52px;
      padding: .5rem;
      margin: 0 .5rem!important;
      bottom: 4.5px;
      border-radius: 50px!important;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;
      &--resize {
        height: 196px;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
      }
    }
  }
}

@media(max-width: 767px) {
  .FormAddSection {
    padding-left: 0!important;
  }
  .FormDescription {
    &__content {
      margin-left: 0;
    }
  }
}
@media(max-width: 450px) {
  .FormDescription {
    &__content-box {
      flex-direction: column;
      align-items: flex-end;
    }
    &__header {
      padding: 1rem;
    }
  }
}


/* Change default switcher's styles */
/* .FormsEdit__switcher-indicator::before {
  background: #38A8DD;
  background-image: url("../img/yes.png");
  background-size: 14px;
}
.switcher-control-success .switcher-input:checked+.FormsEdit__switcher-indicator::before {
  border: 2px solid #42425D;
}
.switcher-control-success .switcher-input:checked+.FormsEdit__switcher-indicator {
  border-color: #42425D;
  background-color: #42425D;
} */