.FormsEdit__thr {
  font-size: smaller;
}
thead .FormsEdit__th {
  font-weight: 400;
  padding: 0;
  padding-bottom: 2px;
  text-align: center;
}
tbody .FormsEdit__tr {
  vertical-align: middle;
}
tbody .FormsEdit__tr--middle {
  vertical-align: middle;
  text-align: center;
}
tbody .FormsEdit__td {
  vertical-align: middle;
}
tbody .FormsEdit__td--middle {
  vertical-align: middle;
  text-align: center;
  width: 104px;
}

/* Change default switcher's styles */
/* .FormsEdit__switcher-indicator::before {
  background: #38A8DD;
  background-image: url("../img/yes.png");
  background-size: 14px;
}
.switcher-control-success .switcher-input:checked+.FormsEdit__switcher-indicator::before {
  border: 2px solid #42425D;
}
.switcher-control-success .switcher-input:checked+.FormsEdit__switcher-indicator {
  border-color: #42425D;
  background-color: #42425D;
} */