@import "./utilities/variables.scss";
@import "./utilities/mixins.scss";

.LeftMenu {
  top: 0!important;
  max-width: 363px!important;
  width: 100%!important;
  background: $dark-transparent;
  &__header {
    width: 259px;
    height: 53px;
    margin-bottom: 72px;
  }
  &__item {
    padding: 10px;
    padding-left: 52px;
    &:not(:last-of-type) {
      margin: 10px 0;
    }
  }
  &__link {
    font-size: 1rem!important;
    color: #fff;
    &:hover {
      @include text-hover;
    }
    &--active {
      @include text-active;
    }
  }
  &__list {
    padding: 0;
    list-style: none;
  }
  &__logo {
    width: 100%;
    height: 100%;
  }
  &__nav {
    padding: 56px 0 56px 52px;
  }
  &__overflow {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--light);
    &::-webkit-scrollbar {
      width: 10px;
      &-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: none;
      }
      &-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: var(--secondary);
      }
    }
  }
  &__pseudo-wrapper {
    width: 100%;
    z-index: 1;
    background: var(--light);
    &::before {
      content: '';
      position:absolute;
      z-index: -1;
      width: 200vw;
      height: 100vh;
      background: rgba(0,0,0,.55);
    }
  }
  &__sublist {
    padding-left: 0!important;
    list-style: none;
  }
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
