.LeftMenu {
  &__overflow {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--light);
    &::-webkit-scrollbar {
      width: 10px;
      &-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: none;
      }
      &-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: var(--secondary);
      }
    }
  }
}
