@import "animations.css";
@import "icons.css";

.style-package-row {
  animation: newRowColor 3s ease-in-out;
}

.info-tag {
  padding: 3px 6px;
  white-space: nowrap;
  background: #DA0063;
  color: #FFF;
  border-radius: 4px;
  font-size: 75%;
}