@import "./utilities/mixins.scss";

.Packages {
  &__button {
    @include button;
    padding: .375rem 1.5rem;
    &:hover {
      @include text-hover;
    }
  }
  &__header {
    font-size: inherit;
    font-weight: inherit;
    border-bottom: 2px solid #fff;
    padding-bottom: 6px;
    padding-left: 6px;
    margin-bottom: 42px;
  }
  &__subheader {
    font-size: inherit;
    font-weight: inherit;
    padding-left: 18px;
    margin-bottom: 18px;
  }
}

.PackagesChapter {
  padding-left: 2rem;
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
  &__icon {
    margin-right: 12px;
  }
}

.PackagesItem {
  border: 2px solid #fff;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 3fr; 
  grid-template-rows: 1fr; 
  gap: 1.5rem 0px;
  align-items: center;
  &__button {
    @include button;
    padding: 8px 14px;
    width: 100%;
    &--first {
      margin-bottom: 10px;
    }
    &--fit {
      width: fit-content;
    }
    &:hover {
      @include text-hover;
    }
  }
  &__buttons-box {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
  }
  &__caret {
    position: absolute;
    left: -26px;
  }
  &__date {
    font-size: 10px;
    justify-self: center;
    text-align: center;
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: inherit;
    padding-left: 12px;
    margin: 0;
    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
    }
  }
  &__tag-wrapper {
    display: flex;
    justify-content: center;
  }
}

.PackagesList, .PackagesSublist {
  padding: 0;
  list-style: none;
}
.PackagesSublist {
  grid-column: 1 / 5;
  &__line {
    border-top: 2px dotted #fff;
    margin: 0 0 1.5rem 0;
  }
}
  
@media(max-width: 1036px) {
  .PackagesItem {
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 2fr;
    &__buttons-wrapper {
      grid-row: 2;
    }
    &__date {
      justify-self: start;
      text-align: start;
      grid-row: 2;
    }
    &__tag-wrapper {
      justify-self: start;
      text-align: start;
      grid-row: 2;
    }
    &__title-wrapper {
      grid-column: 1 / 4;
    }
  }
  .PackagesList {
    &__data {
      &--date {
        min-width: 162px;
      }
      &--name {
        min-width: 300px;
      }
    }
    &__table-header--hide {
      display: none;
    }
    &__tag--hide {
      display: none;
    }
  }
}
@media(max-width: 440px) {
  .PackagesItem {
    grid-template-columns: 6fr 6fr;
    &__buttons-wrapper {
      grid-column: 1 / 3;
      grid-row: 3;
    }
    &__date {
      justify-self: center;
      text-align: center;
    }
    &__tag-wrapper {
      justify-self: center;
      text-align: center;
    }
    &__title-wrapper {
      grid-column-start: 1 / 3;
    }
  }
}