@import "./utilities/variables.scss";
@import "./utilities/mixins.scss";

.PageAddressBar {
  padding: 91px 0 48px;
  font-size: .8rem;
  color: #fff;
  &__item {
    &--active {
      @include text-active;
    }
  }
  &__link {
    &--active {
      @include text-active;
    }
    &:hover {
      @include text-hover;
    }
  }
}