.ProgressBar {
  display: inline-block;
  height: 18px;
  border-radius: .25rem;
  max-width: 150px;
  width: 100%;
  padding: 0;
  border: 1px solid #169EA7;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: left center;
  &--green {
    background-image: linear-gradient(to top, #0CA789, #10c9a4);
  }
  &--yellow {
    background-image: linear-gradient(to top, #ddb061, #F7C46C);
  }
}