@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import "animations.css";

@font-face {
    font-family: "summernote";
    src: url("../fonts/summernote.eot");
    src: url("../fonts/summernote.eot") format("embedded-opentype");
    src: url("../fonts/summernote.ttf") format("truetype");
    src: url("../fonts/summernote.woff") format("woff");
    src: url("../fonts/summernote.woff2") format("woff2");
}

.table__data {
    vertical-align: middle!important;
}
.table__data--nowrap {
    white-space: nowrap;
}
.table__row {
    transition: all .2s ease-in-out;
}
.table__row:hover {
    background: #1c1c27!important;
    transition: background .2s ease-in-out;
}

.navbar1{
    background: aqua;
    color: Black;
    background: #BADA55;
}
.app {
    overflow: visible;
}
.app-main {
    overflow: visible;
}

.show-and-hide {
    animation: showAndHide 3s linear forwards;
}

.sidebar-nav {
    margin-top: 100px;
    padding: 0;
    list-style: none;
}
