.tag {
  height: 18px;
  padding: 3px 6px;
  padding-block: 1px;
  white-space: nowrap;
  font-size: 10px;
  border-radius: .25rem;
  color: #363642;
  display: inline-block;
}

.tag--yellow {
  background: #F7C46C;
  border: 1px solid #FFF;
}
.tag--amaranthine {
  background: #DA0063;
  color: #FFF;
}
.tag--purple {
  width: 100%;
  padding: 0;
  border: 1px solid #169EA7;
  position: relative;
  background-image: linear-gradient(to top, #9510AC, #ac27c4);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: left center;
  /* background-size: 50%; */
}