.Tag {
  width: fit-content;
  height: 20px;
  padding: 2px 8px;
  white-space: nowrap;
  font-size: 10px;
  border-radius: .25rem;
  color: #363642;
  display: flex;
  align-items: center;
  justify-self: center;
  &--yellow {
    background: #F7C46C;
    border: 1px solid #FFF;
  }
  &--amaranthine {
    background: #DA0063;
    color: #FFF;
  }
  &--green {
    background: #0CA789;
    color: #FFF;
  }
  &--grey {
    background: #3E3E57;
    color: #FFF;
  }
}

