.Tag {
  height: 18px;
  padding: 3px 6px;
  padding-block: 1px;
  white-space: nowrap;
  font-size: 10px;
  border-radius: .25rem;
  color: #363642;
  display: inline-block;
  &--yellow {
    background: #F7C46C;
    border: 1px solid #FFF;
  }
  &--amaranthine {
    background: #DA0063;
    color: #FFF;
  }
  &--green {
    background: #0CA789;
    color: #FFF;
  }
  &--grey {
    background: #3E3E57;
    color: #FFF;
  }
}

