@import "./utilities/mixins.scss";

.UserListRow {
  @include list-item-card;
  padding: 30px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  &__avatar-box {
    width: 78px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
  &__button {
    @include button;
    padding: 7px 14px;
    font-weight: 300;
    white-space: nowrap;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
  }
  &__buttons-bottom {
    display: flex;
  }
  &__column {
    display: flex;
  }
  &__data {
    font-size: 12px;
    margin-bottom: 1.5rem;
    &:nth-of-type(2) {
      margin-bottom: 0rem;
    }
  }
  &__header {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__employee-info {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__personal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6px;
  }
}

.UsersListSearch {
  margin-bottom: 60px;
  &__content {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
  }
  &__input {
    @include input;
  }
  &__inputs-wrapper {
    max-width: 327px;
    width: 100%;
  }
}

@media(max-width: 1240px) {
  .UserListRow {
    &__avatar-box {
      margin-bottom: .5rem;
    }
    &__column {
      flex-direction: column;
    }
    &__data--margin {
      margin-bottom: 1.5rem!important;
    }
  }
}
@media(max-width: 1104px) {
  .UserListRow {
    &__button {
      margin-right: 0!important;
      margin-bottom: .5rem!important;

    }
    &__buttons-bottom {
      flex-direction: column;
      width: 100%;
    }
  }
}
@media(max-width: 992px) {
  .UserListRow {
    &__column {
      flex-direction: row;
    }
  }
}
@media(max-width: 800px) {
  .UserListRow {
    &__column {
      flex-direction: column;
    }
  }
}
@media(max-width: 630px) {
  .UserListRow{
    flex-direction: column;
    &__button {
      margin-bottom: 0!important;
      margin-right: .5rem!important;
    }
    &__buttons {
      flex-direction: row;
    }
    &__buttons-bottom {
      flex-direction: row;
    }
    &__employee-info {
      margin-bottom: 1rem;
    }
  }
}
@media(max-width: 450px) {
  .UserListRow {
    &__avatar-box {
      margin-right: 0;
    }
    &__button--top {
      margin-bottom: .5rem!important;
    }
    &__buttons {
      flex-direction: column;
    }
    &__column {
      align-items: center;
      text-align: center;
      margin-bottom: 1rem;
    }
    &__data, &__data--margin {
      margin-bottom: .5rem;
    }
    &__data--margin {
      margin-bottom: .5rem!important;
    }
    &__employee-info {
      flex-direction: column;
    }
  }
}