@import "./utilities/mixins.scss";

.UserListRow {
  @include list-item-card;
  padding: 15px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  &__avatar-box {
    width: 78px;
    margin-right: 1rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
  }
  &__button {
    @include button;
    padding: 7px 14px;
    font-weight: 300;
    white-space: nowrap;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  &__buttons-bottom {
    display: flex;
  }
  &__column {
    display: flex;
    width: 100%;
    column-gap: 8px;
  }
  &__data {
    font-size: 12px;
    margin-bottom: 4px;
  }
  &__data-wrapper {
    display: flex;
    column-gap: 45px;
    width: fit-content;
    width: -moz-max-content;
    justify-content: space-between;
  }
  &__header {
    font-size: 18px;
    margin-bottom: 8px;
  }
  &__employee-info {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__personal-box {
    width: 100%;
  }
  &__progress {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}

.UsersListSearch {
  margin-bottom: 60px;
  &__content {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
  }
  &__input {
    @include input;
  }
  &__inputs-wrapper {
    max-width: 327px;
    width: 100%;
  }
}

@media(max-width: 1104px) {
  .UserListRow {
    &__button {
      margin-right: 0!important;
      margin-bottom: .5rem!important;

    }
    &__buttons-bottom {
      flex-direction: column;
      width: 100%;
    }
  }
}
@media(max-width: 650px) {
  .UserListRow {
    &__column {
      flex-direction: column;
    }
  }
}
@media(max-width: 630px) {
  .UserListRow{
    &__button {
      margin-bottom: 0!important;
      margin-right: .5rem!important;
    }
    &__buttons {
      flex-direction: row;
    }
    &__buttons-bottom {
      flex-direction: row;
    }
  }
}
@media(max-width: 450px) {
  .UserListRow {
    &__avatar-box {
      margin-right: 0;
    }
    &__button--top {
      margin-bottom: .5rem!important;
    }
    &__buttons {
      flex-direction: column;
    }
    &__column {
      align-items: center;
      text-align: center;
    }
    &__data, &__data--margin {
      margin-bottom: .5rem;
    }
    &__data--margin {
      margin-bottom: .5rem!important;
    }
    &__data-wrapper {
      width: 100%;
      flex-direction: column;
    }
    &__employee-info {
      flex-direction: column;
    }
  }
}