@keyframes newRowColor {
    0% {
        background: none;
    }
    25% {
        background: rgba(15, 15, 41, 0.75);
    }
    75% {
        background: rgba(15, 15, 41, 0.75);
    }
    100% {
        background: none;
    }
}

@keyframes showAndHide {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
