.back-icon {
  font-size: 20px;
  display: flex;
}

.caret-icon {
  width: 24px;
  margin-right: 2px;
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
  & > svg, > img {
    transition: all .1s linear;
  }
  &--rotate > svg,
  &--rotate > img {
    transform: rotate(90deg);
    transition: transform .1s linear;
  }
}