/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = to 479x800px
*/
@media (max-height: 800px) and (max-width: 479px) {
    body {
        background: center no-repeat url("/onboarding/static/images/backgrounds/480x800.jpg") fixed;
        background-size: cover;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles
  ##Screen = to 480px
*/
@media (max-width: 480px) {
    body {
        background: center no-repeat url("/onboarding/static/images/backgrounds/480x800.jpg") fixed;
        background-size: cover;
    }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 481px to 720px
*/
@media (min-width: 481px) and (max-width: 720px) and (min-height: 801px) and (max-height: 1280px) {
    body {
        background: center no-repeat url("/onboarding/static/images/backgrounds/720x1280.jpg") fixed;
        background-size: cover;
    }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 721px to 1279px
*/
@media (min-width: 721px) and (max-width: 1279px) {
    body {
        background: center no-repeat url("/onboarding/static/images/backgrounds/1280x800_16_10.jpg") fixed;
        background-size: cover;
    }
}

/* 
  ##Device = Desktops
  ##Screen = 1280px to 1919px
*/
@media  (min-width: 1280px) and (max-width: 1919px) {
    body {
        background: center no-repeat url("/onboarding/static/images/backgrounds/HD_background_1920_1080.jpg") fixed;
        background-size: cover;
    }
}

/* 
  ##Device = Desktops
  ##Screen = 1920px to 2047px
*/
@media  (min-width: 1920px) and (max-width: 2047px) {
    body {
        background: center no-repeat url("/onboarding/static/images/backgrounds/1280x800_16_10.jpg") fixed;
        background-size: cover;
    }
}

/* 
  ##Device = Desktops
  ##Screen = 2048px to higher resolution desktops
*/
@media (min-width: 2048px) {
    body {
        background: center no-repeat url("/onboarding/static/images/backgrounds/2048x1080.jpg") fixed;
        background-size: cover;
    }
}
